@namespace Three2025.Components.Layout
@inherits NavMenuBase

<div class="navbar-container">
    <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.SpaceBetween"
        Class="rz-p-4 rz-shadow-1 rz-card-background-color">
        <RadzenLink Path="" Text="Visio 2025" />
        <RadzenLink Path="/aichat" Text="AI Chat" />
        <RadzenLink Path="/Test3d" Text="Test 3D" />
        <RadzenLink Path="/Test2d" Text="Test 2D" />
        <RadzenLink Path="/Index" Text="Index (ViewerThreeD)" />
        <RadzenLink Path="/Home" Text="Home (Canvas 2D/3D)" />
        <RadzenLink Path="/Drawing" Text="Drawing (Canvas2D)" />
        <RadzenLink Path="/becanvas" Text="Canvas (BECanvas)" />
        <RadzenLink Path="/becanvas1" Text="Canvas1 (BECanvas)" />
        <RadzenLink Path="/becanvas2" Text="Canvas2 (BECanvas)" />
        <RadzenLink Path="/Timer" Text="Timer" />
        <RadzenLink Path="/Storage" Text="Storage" />
        <RadzenText TextStyle="TextStyle.Body2" Text="@VersionDisplay()" />
    </RadzenStack>
</div>
@* 
<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
<nav class="flex-column">
<div class="nav-item px-3">
<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
<span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span>Home
</NavLink>
</div>
</nav>
</div> 
*@
