@page "/aichat"

@using Radzen
@using Radzen.Blazor

@namespace Three2025.Components.Pages
@inherits AIChatBase
@rendermode InteractiveServer

<PageTitle>AIChat Chat</PageTitle>
<h2>This page renders AIChat Chat control </h2>

<AIChat></AIChat>