@page "/"
@page "/clock"

@using FoundryBlazor.Shared
@using FoundryRulesAndUnits.Extensions
@using BlazorThreeJS.Viewers

@namespace Three2025.Components.Pages
@inherits ClockBase
@rendermode InteractiveServer

<PageTitle>Clock</PageTitle>
<h2>Canvas3DComponent and calls API's top create Clock</h2>



<div class="d-flex">

    <Canvas3DComponent SceneName="Clock3D" @ref="Canvas3DReference" CanvasWidth=@CanvasWidth CanvasHeight=@CanvasHeight />
    <ShapeTreeView/>
    <AIChat/>
    <RadzenStack Orientation="Orientation.Vertical" JustifyContent="JustifyContent.Start" style="margin-left: 10px;">
        <h4>Testing the API's</h4>
        <button class="btn btn-primary" @onclick="DoRequestAxisToScene">Request Axis to Scene</button>
        <button class="btn btn-primary" @onclick="DoRequestConeToScene">Request Cone to Scene</button>
        <button class="btn btn-primary" @onclick="DoRequestAddTextToScene">Request Text to Scene</button>
        <button class="btn btn-primary" @onclick="DoRequestAddJetToScene">Request Jet to Scene</button>
        <button class="btn btn-primary" @onclick="DoRequestAddBoxGLBToScene">Request BoxAnimated to Scene</button>

        <h4>Testing the Clock Elements</h4>
        <button class="btn btn-primary" @onclick="DoClockFace">Clock Face to Scene</button>
        <button class="btn btn-primary" @onclick="DoLabelAutoRefresh">Label Auto Refresh to Scene</button>
        <button class="btn btn-primary" @onclick="DoAddTRexToArena">T-Rex to Arena</button>
                
        <h4>Add to Arena</h4>
        <button class="btn btn-primary" @onclick="DoAddTRISOCToArena">TRISOC to Arena</button>
       @* 
        <button class="btn btn-primary" @onclick="DoAddBoxToScene">Box to Scene</button>
        <button class="btn btn-primary" @onclick="DoAddTubeToScene">Tube to Scene</button>
        <button class="btn btn-primary" @onclick="DoAddConeToScene">Cone to Scene</button>

        
        <h4>Add to Stage</h4>
        <button class="btn btn-primary" @onclick="DoAddGeomToStage">Geometry to Stage</button>


        <button class="btn btn-primary" @onclick="DoAddTextArena">Add Text</button>

        <h4>Add to World</h4>
        <button class="btn btn-primary" @onclick="OnAddCage">Add Cage</button>
        <button class="btn btn-primary" @onclick="DoAddTriSocGeometry">TriSoc</button>
        <button class="btn btn-primary" @onclick="DoAddPorscheToArena">Porsche</button> *@
    </RadzenStack>

</div>
