@page "/"
@page "/home"

@using FoundryBlazor.Shared
@using FoundryRulesAndUnits.Extensions
@using BlazorThreeJS.Viewers

@namespace Three2025.Components.Pages
@inherits HomeBase
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>



<button class="btn btn-primary" @onclick="OnAddCage">Add Cage</button>
<button class="btn btn-primary" @onclick="OnAddTRex">Add T-Rex</button>
<button class="btn btn-primary" @onclick="OnAddJet">Add JET</button>
<div class="d-flex">
    @* <Canvas2DComponent CanvasWidth="@CanvasWidth" CanvasHeight="@CanvasHeight" /> *@
    <Canvas3DComponent @ref="CanvasReference" CanvasWidth=@CanvasWidth CanvasHeight=@CanvasHeight />
    <ShapeTreeView />
</div>
