@page "/"
@page "/home"

@using FoundryBlazor.Shared
@using FoundryRulesAndUnits.Extensions
@using BlazorThreeJS.Viewers

@namespace Three2025.Components.Pages
@inherits HomeBase
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>
<h2>This page renders using the Canvas3DComponent and calls API's on the World, Arena, and Stage</h2>

<button class="btn btn-primary" @onclick="AddBoxToStage">Add Box to Stage</button>
<button class="btn btn-primary" @onclick="AddBoxToArena">Add Box to Arena</button>
<button class="btn btn-primary" @onclick="OnAddCage">Add Cage</button>
<button class="btn btn-primary" @onclick="OnAddTRex">Add T-Rex</button>



<div class="d-flex">
    @* <Canvas2DComponent CanvasWidth="@CanvasWidth" CanvasHeight="@CanvasHeight" /> *@
    <Canvas3DComponent SceneName="Viewer3D" @ref="CanvasReference" CanvasWidth=@CanvasWidth CanvasHeight=@CanvasHeight />
    <ShapeTreeView />
</div>
