@page "/"
@page "/home"

@using FoundryBlazor.Shared
@using FoundryRulesAndUnits.Extensions
@using BlazorThreeJS.Viewers

@namespace Three2025.Components.Pages
@inherits HomeBase
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>
<h2>Canvas3DComponent and calls API's on the Arena, Stage, and World</h2>



<div class="d-flex">

    <Canvas3DComponent SceneName="Home3D" @ref="Canvas3DReference" CanvasWidth=@CanvasWidth CanvasHeight=@CanvasHeight />
    <ShapeTreeView/>

    <RadzenStack Orientation="Orientation.Vertical" JustifyContent="JustifyContent.Start" style="margin-left: 10px;">
        <h4>Add to Scene</h4>
        <button class="btn btn-primary" @onclick="DoAddAxisToScene">Axis to Scene</button>
        <button class="btn btn-primary" @onclick="DoRequestAddJetToScene">Request Jet to Scene</button>
        <button class="btn btn-primary" @onclick="DoAddBoxToScene">Box to Scene</button>
        <button class="btn btn-primary" @onclick="DoAddTubeToScene">Tube to Scene</button>
        <button class="btn btn-primary" @onclick="DoAddConeToScene">Cone to Scene</button>
        <button class="btn btn-primary" @onclick="DoRequestAddTextToScene">Request Text to Scene</button>
        

        <h4>Add to Arena</h4>
                <button class="btn btn-primary" @onclick="DoAddPipeToArena">Pipe to Arena</button>

        <button class="btn btn-primary" @onclick="DoAddGeomToArena">Geometry to Arena</button>
        <button class="btn btn-primary" @onclick="DoAddTRexToArena">T-Rex to Arena</button>
        <button class="btn btn-primary" @onclick="DoAddTRISOCToArena">TRISOC to Arena</button>
        <button class="btn btn-primary" @onclick="DoAddTextArena">Add Text</button>
        <button class="btn btn-primary" @onclick="DoAddPorscheToArena">Porsche</button>
        <button class="btn btn-primary" @onclick="DoAddEquipmentArena">Equipment</button>
        <button class="btn btn-primary" @onclick="DoAddRacksArena">Racks</button>
        <button class="btn btn-primary" @onclick="DoAddRoutesArena">Routes</button>
        
        <h4>Add to World</h4>
        <button class="btn btn-primary" @onclick="OnAddCage">Add Cage</button>
        <button class="btn btn-primary" @onclick="DoAddTriSocGeometry">TriSoc</button>
    </RadzenStack>
    <AIChat/>
</div>
