

@page "/home"

@using FoundryBlazor.Shared
@using FoundryRulesAndUnits.Extensions
@using BlazorThreeJS.Viewers

@namespace Three2025.Components.Pages
@inherits HomeBase
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>
<h2>This page renders using the Canvas3DComponent and calls API's on the World, Arena, and Stage</h2>



<div class="d-flex">
    <div>
        <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.SpaceBetween">
            <button class="btn btn-primary" @onclick="DoAxisTest">Axis</button>
            <button class="btn btn-primary" @onclick="AddBoxToStage">Add Box to Stage</button>
            <button class="btn btn-primary" @onclick="AddConeToArena">Add Cone to Arena</button>
            <button class="btn btn-primary" @onclick="OnAddCage">Add Cage</button>
            <button class="btn btn-primary" @onclick="OnAddTRex">Add T-Rex</button>
            <button class="btn btn-primary" @onclick="OnAddGeom">Add Geom</button>
            <button class="btn btn-primary" @onclick="OnAddText">Add Text</button>
        </RadzenStack>
        <Canvas3DComponent SceneName="Canvas3DComponent" @ref="Canvas3DReference" CanvasWidth=@CanvasWidth CanvasHeight=@CanvasHeight />
    </div>
    <RadzenTabs>
        <Tabs>
            <RadzenTabsItem Text="Chat View">
                <AIChat/>
            </RadzenTabsItem>
            <RadzenTabsItem Text="Shape View">
                <ShapeTreeView/>
            </RadzenTabsItem>
        </Tabs>
    </RadzenTabs>
    <div>
        <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.SpaceBetween">
            <button class="btn btn-primary" @onclick="OnAddCage">Add Cage</button>
            <button class="btn btn-primary" @onclick="OnAddTRex">Add T-Rex</button>
            <button class="btn btn-primary" @onclick="OnAddGeom">Add Geom</button>
            <button class="btn btn-primary" @onclick="OnAddText">Add Text</button>
        </RadzenStack>
        <Canvas2DComponent CanvasWidth="@CanvasWidth" CanvasHeight="@CanvasHeight"  AutoRender="true"/>
    </div>
</div>
