@page "/Index"

@using FoundryBlazor.Shared
@using BlazorThreeJS.Viewers

@namespace Three2025.Components.Pages
@inherits IndexBase
@rendermode InteractiveServer

<PageTitle>Index</PageTitle>

<button class="btn btn-primary" @onclick="DoAxisTest">Axis</button>
<button class="btn btn-primary" @onclick="OnAddTRex">Add T-Rex</button>
<button class="btn btn-primary" @onclick="OnAddJet">Add JET</button>
<button class="btn btn-primary" @onclick="OnAddCar">Add CAR</button>
<button class="btn btn-primary" @onclick="DoMeshTest">Mesh Test</button>


<div class="d-flex">
    <ViewerThreeD SceneName="Dave" @ref=View3D />
    <ViewerThreeD SceneName="Steve"  @ref=ViewSteve3D/>
    <ShapeTreeView />
</div>
