
@page "/Index"
@page "/"

@using FoundryBlazor.Shared
@using BlazorThreeJS.Viewers

@namespace Three2025.Components.Pages
@inherits IndexBase
@rendermode InteractiveServer

<PageTitle>Index</PageTitle>
<h2>This page renders using the ViewThreeD and calls API's on the active scene</h2>

<button class="btn btn-primary" @onclick="DoAxisTest">Axis</button>
<button class="btn btn-primary" @onclick="OnAddTRex">Add T-Rex</button>
<button class="btn btn-primary" @onclick="OnAddJet">Add JET</button>
<button class="btn btn-primary" @onclick="OnAddCar">Add CAR</button>
<button class="btn btn-primary" @onclick="DoMeshTest">Add Geometry</button>
<button class="btn btn-primary" @onclick="OnAddText">Add Text</button>
<button class="btn btn-primary" @onclick="OnUpdateText">Update Text</button>
<button class="btn btn-primary" @onclick="OnAddMenu">Add Menu</button>
<button class="btn btn-primary" @onclick="OnAddGroup1">Add Group1</button>
<button class="btn btn-primary" @onclick="OnAddGroup2">Add Group2</button>

<div class="d-flex">
    <ViewerThreeD SceneName="ViewerThreeD" @ref=View3D />
    <ShapeTreeView />
</div>
