@page "/timer"
@using System.Timers
@using FoundryRulesAndUnits.Extensions

@using FoundryBlazor.Shared
@using Three2025.Shared
@using BlazorThreeJS.Viewers
@rendermode InteractiveServer

@namespace Three2025.Components.Pages

<PageTitle>Timer Disposal 2</PageTitle>

<h1>4 of them! Do they all draw?</h1>

<div class="d-flex">
    <Canvas2D SceneName="Scene1"  CanvasWidth="800" CanvasHeight="800" />
    <Canvas2DComponent SceneName="Scene2"  CanvasWidth="800" CanvasHeight="800" />
    <Canvas2D SceneName="Scene3"  CanvasWidth="800" CanvasHeight="800" />
    <Canvas2DComponent SceneName="Scene4"  CanvasWidth="800" CanvasHeight="800" />
</div>

