@page "/"
@page "/trisoc"

@using FoundryBlazor.Shared

@using FoundryRulesAndUnits.Extensions
@using BlazorThreeJS.Viewers

@namespace Three2025.Components.Pages
@inherits TrisocBase
@rendermode InteractiveServer

<PageTitle>Trisoc</PageTitle>



<div class="d-flex">

    <Canvas3DComponent SceneName="Trisoc" @ref="Canvas3DReference" CanvasWidth=@CanvasWidth CanvasHeight=@CanvasHeight />
        <RadzenTabs style="min-width: 600px;">
        <Tabs>
            <RadzenTabsItem Text="Chat View">
                <AIChat/>
            </RadzenTabsItem>
            <RadzenTabsItem Text="Shape View">
                <ShapeTreeView/>
            </RadzenTabsItem>
            <RadzenTabsItem Text="Command View">
                <RadzenStack Orientation="Orientation.Vertical" JustifyContent="JustifyContent.Start" style="margin-left: 10px;">   
                    <h4>Trisoc</h4>
                    <button class="btn btn-primary" @onclick="DoAddTRISOCToArena">Add TRISOC</button>
                    <button class="btn btn-primary" @onclick="DoAddBoxArena">Add Box</button>
                    <button class="btn btn-primary" @onclick="DoStartStopTimer">Start Stop Timer</button>
                     <h4>Apprentice</h4>
                    <button class="btn btn-primary" @onclick="DoReposition">Reposition</button>
                </RadzenStack>
            </RadzenTabsItem>
        </Tabs>
    </RadzenTabs>


</div>
